<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PLEASE WORK</title>
</head>

<body>

    <script src="../index.js"></script>

    <details>
        <summary>Comments Data</summary>
        <p><%- commentsData %></p>
    </details>
    <textarea placeholder="Enter body" id="commentsBody"></textarea>
    <button onclick="hello()"></button>

    <details>
        <summary>Contacts Data</summary>
        <p><%- contactsData %></p>
    </details>


    <details>
        <summary>Products Data</summary>
        <p><%- productsData %></p>
    </details>


    <details>
        <summary>Vehicles Data</summary>
        <p><%- vehiclesData %></p>
    </details>


</body>

</html>